/**
 * Created by Moudi on 2017/2/28.
 */

@keyframes bubbles {
  0% {
    margin-top: 2%;
    background: rgba(255,255,255,0);
  }
  49% {
    background: rgba(255,255,255,.99);
  }
  98% {
    margin-top: -2%;
    background: rgba(255,255,255,0);
  }
  100% {
    margin-top: 2%;
    background: rgba(255,255,255,0);
  }
}

@keyframes fish-r {
  0% {
    transform: translateX(0) translateY(-15%);
  }
  23% {
    transform: translateX(0) translateY(-15%);
  }
  46% {
    transform: translateX(5%) translateY(-15%);
  }
  60% {
    transform: translateX(0) translateY(-15%);
  }
  80% {
    transform: translateX(5%) translateY(-15%);
  }
  100% {
    transform: translateX(0) translateY(-15%);
  }
}
@keyframes fish-r-noy {
  0% {
    transform: translateX(0);
  }
  23% {
    transform: translateX(0);
  }
  46% {
    transform: translateX(5%);
  }
  60% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fish-l {
  0% {
    transform: translateX(0) translateY(-15%);
  }
  23% {
    transform: translateX(0) translateY(-15%);
  }
  46% {
    transform: translateX(-5%) translateY(-15%);
  }
  60% {
    transform: translateX(0) translateY(-15%);
  }
  80% {
    transform: translateX(-5%) translateY(-15%);
  }
  100% {
    transform: translateX(0) translateY(-15%);
  }
}
@keyframes fish-l-noy {
  0% {
    transform: translateX(0);
  }
  23% {
    transform: translateX(0);
  }
  46% {
    transform: translateX(-5%);
  }
  60% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fly {
  0% {
    transform: translateY(0) translateY(-15%);
  }
  50% {
    transform: translateY(15px) translateY(-15%);
  }
  100% {
    transform: translateY(0) translateY(-15%);
  }
}
@keyframes fly-noy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shimmer {
  0% {
    background-color: rgba(255,255,255,0);
  }
  35% {
    background-color: rgba(255,255,255,.1);
  }
  100% {
    background-color: rgba(255,255,255,0);
  }
}
@keyframes shimmer-pre {
  0% {
    background-color: rgba(0,0,0,0);
  }
  35% {
    background-color: rgba(0,0,0,.4);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@keyframes loading {
  0% {
    background-color: rgba(0,0,0,.7);
  }
  50% {
    background-color: rgba(200,20,20,0.45);
  }
  100% {
    background-color: rgba(0,0,0,.7);
  }
}

@keyframes shard-flow {
  0% {
    background-color: rgba(0,0,0,0);
  }
  30% {
    background-color: rgba(255,0,0,.47);
  }
  66% {
    background-color: rgba(245,45,64,.3);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}

@keyframes rotate-slow {
  0% {
    transform: rotate(0) scale(1.4);
  }
  50% {
    transform: rotate(10deg) scale(1.4);
  }
  100% {
    transform: rotate(0) scale(1.4);
  }
}

@keyframes scale-s {
  0% {
    transform: scale(1.4) translateY(0);
  }
  100% {
    transform: scale(1) translateY(-15%);
  }
}

@keyframes scratchy {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 0 0;
  }
  26% {
    background-position: 20px -20px;
  }
  50% {
    background-position: 20px -20px;
  }
  51% {
    background-position: 40px -40px;
  }
  75% {
    background-position: 40px -40px;
  }
  76% {
    background-position: 60px -60px;
  }
  99% {
    background-position: 60px -60px;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes pie-rotations {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(175deg);
  }
  30% {
    transform: rotate(175deg);
  }
  45% {
    transform: rotate(-40deg);
  }
  70% {
    transform: rotate(-40deg);
  }
  77% {
    transform: rotate(0deg);
  }
}

@keyframes rotate19 {
  0% {
    transform: rotate(0) scale(1) translateY(-15%);
  }
  0.4% {
    transform: scale(1.9) translateY(0);
  }
  100% {
    transform: rotate(6000deg) scale(1.9);
  }
}